.chat-window {
    flex: 1;
    padding: 0rem 2rem 0rem 1rem;
    overflow-y: auto;
    background: var(--backChat);
    display: flex;
    flex-direction: column;
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #ccc transparent;
    color: var(--text-color);
    height: 100%;
    overflow-y: auto;
}

    .chat-window.empty {
        display: flex;
        align-items: center;
        justify-content: center;
    }



    .chat-window::-webkit-scrollbar {
        width: 8px;
    }

    .chat-window::-webkit-scrollbar-track {
        background: transparent;
    }

    .chat-window::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 8px;
    }

    .chat-window:hover::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.4);
    }



.message-row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
    flex-direction: row;
}

    .message-row.right {
        justify-content: flex-end;
    }

.message-content {
    display: contents;
    align-items: flex-start;
    gap: 0.5rem;
}



.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 0.8rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0.2rem 0 0.2rem;
    flex-shrink: 0;
    overflow: hidden;
    color: var(--text-color);
    background: var(--avatar-color);
}

.avatar-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}


.message-bubble-wrapper {
    max-width: 70%;
    display: flex;
    flex-direction: column;
}

.message-meta {
    display: flex;
    justify-content: space-between;
    font-size: 0.7rem;
    color: var( --subtitle-color);
    margin-bottom: 0.2rem;
}
.message-time{
    padding: 0px 5px 0px 5px;
}
.message-row.highlighted {
  border: 2px solid var(--chat-ia-bg);
  border-radius: 8px;
  animation: fadeHighlight 3s ease;
}



@keyframes fadeHighlight {
  0% { background-color: var(--udlaRed); }
  100% { background-color: transparent; }
}

.message-bubble {
    padding: 0.6rem 1rem;
    border-radius: 0.3rem;
    font-size: 0.80rem;
    line-height: 1.3;
    word-break: break-word;
}

    .message-bubble.student {
        background-color: var(--chat-student-bg);
    }
    .avatar.student{
        background: pink;
    }

    .message-bubble.IA {
        background-color: var(--chat-ia-bg);
    }

    .message-bubble.mentor {
        background-color: var(--chat-mentor-bg);
    }
    .message-image {
    max-width: 200px;
    border-radius: 8px;
}

.message-document {
    color: var(--color-Link);
    text-decoration: underline;
}

.message-audio {
    width: 100%;
    margin-top: 5px;
}


.chat-window {
    overflow-y: overlay; /* en navegadores que lo soporten */
}

.message-attachments { display: grid; gap: 8px; }
.file-preview, .message-image, .document-preview, .video-preview { width: 300px; }
.image-preview img { width: 300px; height: 200px; object-fit: cover; border-radius: 8px; }

@media (max-width: 768px) {
    .chat-window.empty {
        display: none;
        z-index: -100;
    }

}