.chat-search-panel {
    padding: 1rem;
    color: var(--text-color);
    height: 100%;
    overflow-y: auto;
    background-color: var(--summary-color);
    z-index: 10;
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #ccc transparent;
}

.search-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    margin-bottom: 1rem;
    background: none;
    box-shadow: 0 2px 0px rgb(193 2 48);
    border-radius: 6px;
}

.search-header input {
   border: none;
  outline: none;
  background-color: transparent; /* opcional */
  color: var(--text-color);       /* asegura legibilidad */
  padding: 6px 8px;
}
h2{
    padding:0.5rem;
    margin-bottom: 2rem;
    
}

.clear-button {
    background: transparent;
    padding-right: 0.5rem;
    color:var(--udlaRed);
    border: none;
    cursor: pointer;
}

.search-loading {
    color: var(--text-color);
    font-style: italic;
}

.search-placeholder {
    text-align: center;
    color: var(--text-color);
    border: none;
    margin-top: 4rem;
}

.search-placeholder img {
    width: 100%;
    margin-bottom: 1rem;
}


.search-results {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
mark {
  background-color: var(--udlaRed); 
  color: var(--text-color); 
  font-weight: bold;
}


.search-result {
    background: var(--select-item-bg);
    border-radius: 8px;
    padding: 0.75rem;
    cursor: pointer;
    transition: background 0.3s;
}

.search-result:hover {
    background: var(--chat-student-bg);
}
@media (max-width: 768px) {
  

  .search-placeholder img {
    width: 50%;
    margin-bottom: 1rem;
}
}